<div class="container-fluid col-md-6 matcher">
  <div class="row-fluid">
    <div class="centering text-center">
      <p class="h2"><%= @first_name %></p>
      &
      <p class="h2"><%= @second_name %></p>
      <h3>Ficariam juntos por:</h3>
      <br>
      <div class="result rounded">
        <% if @years > 0 %>
          <span><%= pluralize(@years, 'ano ', 'anos ')%> </span>
        <% end %>
        <% if @months > 0 %>
          <% if @years > 0 %>
          e
          <% end %>
          <span><%= pluralize(@months, 'mês ', 'meses ')%></span>
        <% end %>
        <% if @days > 0 %>
          <% if @years > 0 || @months > 0 %>
          e
          <% end %>
          <span><%= pluralize(@days, 'dia ', 'dias ')%> </span>
        <% end %>
      </div>
      <br>
      <br>
      <p><%= link_to "Calcular novamente", matcher_new_url(first_name: @first_name, second_name: @second_name), class: 'btn btn-secondary' %></p>
    </div>
  </div>
</div>
