<div class="container-fluid col-md-6 matcher">
  <div class="row-fluid">
    <div class="centering text-center centering-show">
      <h1 class="h2 show-names"><%= @first_name %> & <%= @second_name %></h1>
      <div class="result">
        <div class="form-row">
          <div class="col"><%= @years > 1 ? 'Anos' : 'Ano' %></div>
          <div class="col"><%= @months > 1 ? 'Meses' : 'Mês' %></div>
          <div class="col"><%= @months > 1 ? 'Dias' : 'Dia' %></div>
        </div>
        <div class="form-row">
          <div class="col"><%= @years %></div>
          <div class="col"><%= @months %></div>
          <div class="col"><%= @days %></div>
        </div>
      </div>
      <%= social_share_button_tag('Tempo Juntos') %>
      <br>
      <p><%= link_to "Calcular novamente", matcher_new_url(first_name: @first_name, second_name: @second_name), class: 'btn btn-secondary' %></p>
    </div>
  </div>
</div>
