<div class="container-fluid col-md-6 matcher">
  <div class="row-fluid">
    <div class="centering text-center">
      <p class="h2"><%= @first_name %></p>
      e
      <p class="h2"><%= @second_name %></p>
      <h3>O (possível) tempo juntos é de:</h3>
      <br>
      <div class="result rounded">
        <% if @years > 0 %>
          <span><%= pluralize(@years, 'ano', 'anos')%> </span>
        <% end %>
        <% if @months > 0 %>
          <span><%= pluralize(@months, 'mês', 'meses')%></span>
        <% end %>
        <% if @days > 0 %>
          <span><%= pluralize(@days, 'dia', 'dias')%> </span>
        <% end %>
      </div>
      <br>
      <br>
      <p><%= link_to "Testar novamente", matcher_new_url(first_name: @first_name, second_name: @second_name), class: 'btn btn-outline-dark' %></p>
    </div>
  </div>
</div>
